Repository radondb/radondb-mysql-kubernetes, pull requests merged in 2022-05, with the labels that each got.

#478 update README_zh.md #462
  README_zh.md
  docs/images/客户案例.png
Labels: documentation, require-doc

#479 crd: Add more `additionalPrinterColumns`. #476
  api/v1alpha1/mysqlcluster_types.go
  charts/mysql-operator/crds/mysql.radondb.com_mysqlclusters.yaml
  config/crd/bases/mysql.radondb.com_mysqlclusters.yaml
Labels: Improvement, CRD

#485 mysqlcluster: Use gomonkey instead of Monkey. #483
  go.mod
  go.sum
  mysqlcluster/mysqlcluster_test.go
Labels: enhancement, Improvement

#488 Docs: Update README.md
  README.md
  README_zh.md
Labels: documentation, require-doc

#487 *: Init webhook.
  PROJECT
  api/v1alpha1/mysqlcluster_webhook.go
  api/v1alpha1/webhook_suite_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/mysql-operator/templates/_helpers.tpl
  charts/mysql-operator/templates/cert.tpl
  charts/mysql-operator/templates/cert_manager.yaml
  charts/mysql-operator/templates/deployment.yaml
  charts/mysql-operator/templates/webhook_configuration.yaml
  charts/mysql-operator/values.yaml
  cmd/manager/main.go
  config/certmanager/certificate.yaml
  config/certmanager/kustomization.yaml
  config/certmanager/kustomizeconfig.yaml
  config/crd/kustomization.yaml
  config/crd/patches/webhook_in_mysqlclusters.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/manifests.yaml
  config/webhook/service.yaml
Labels: enhancement, chart

#472 *: Fix memory Leak of Operator. #469
  backup/backup.go
  backup/status.go
  backup/syncer/job.go
  mysqlcluster/mysqlcluster.go
  mysqlcluster/mysqlcluster_test.go
  mysqlcluster/syncer/mysql_cm.go
  mysqlcluster/syncer/mysql_configs.go
  mysqlcluster/syncer/statefulset.go
  mysqlcluster/syncer/status.go
Labels: bug

#481 *: Lowcase table name forbid to modify in my.cnf
  api/v1alpha1/mysqlcluster_webhook.go
Labels: enhancement, webhook

#495 *: fix typo and comments #494
  api/v1alpha1/backup_types.go
  api/v1alpha1/mysqlcluster_types.go
  api/v1alpha1/mysqlcluster_webhook.go
  charts/mysql-operator/crds/mysql.radondb.com_backups.yaml
  config/crd/bases/mysql.radondb.com_backups.yaml
  config/samples/mysql_v1alpha1_backup.yaml
  docs/en-us/deploy_backup_restore_s3.md
  docs/zh-cn/deploy_backup_restore_s3.md
Labels: Improvement, CRD

#493 Modify the English README file. #496
  README.md
Labels: documentation

#498 README: fix error about link. #496
  README.md
Labels: documentation

#484 *: Add backup Name into Backup status
  api/v1alpha1/backup_types.go
  backup/syncer/job.go
  charts/mysql-operator/crds/mysql.radondb.com_backups.yaml
  config/crd/bases/mysql.radondb.com_backups.yaml
  mysqlcluster/syncer/role.go
  sidecar/config.go
  sidecar/server.go
  sidecar/takebackup.go
  utils/common.go
  utils/constants.go
Labels: enhancement, CRD
